@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #1a161e;
  background-color: #f3eeff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
}

h1 {
  font-family: sans-serif;
}

h3 {
  font-family: "Libre Caslon Text", serif;
}

h4 {
  font-family: "Manrope", sans-serif;
}

h5 {
  font-family: sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
}
