@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #1a161e;
  background-color: #f3eeff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
}

h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

button,
input,
textarea,
select {
  font: inherit;
}
